html{
	min-height: 100%;
}

#top{
	float:left;
}

#drop-area{
	background-color: #FFF;
	border:3px dashed #000;
	border-radius: 20px;
	float:left;
	padding:20px;
	margin: 5px 20px 5px 5px;
	font-size: 25px;
	
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

#drop-area p{
	display:table-cell;
	text-align: center;
	vertical-align: middle;
}

#drop-area.over{
	background-color: #CCC;
}

#error-display{
	border:1px solid red;
	border-radius: 20px;
	color:red;
	display: none;
	float:left;
	padding:10px;
	margin:10px;
}


#song-slides{
	display:none;
	clear:both;
	border-top: 1px solid #000;
	padding-top:20px;
}

.slide{
	float:left;
	border:5px solid #FFF;
	border-radius: 5px;
	box-shadow: 0 0 10px #333;
	margin:10px;
}

.slide .content{
	border:1px solid #000;
	font-size:13px;
	padding:5px;
	white-space: pre-wrap;
	width:200px;
}

.slide .label{
	font-weight: bold;
	margin-top:5px;
}

