html{
	min-height: 100%;
}

.drop-area{
	background-color: @color-medium;
	border: 1px solid @color-highlight;
	border-radius: @radius-default;
	color: @color-dark;
	text-align: center;
	padding:10px;
	.transition(all 0.4s);
	

	.over &{
		@shadow: 0 0 50px @color-highlight, inset 0 0 10px @color-highlight;
		.box-shadow(@shadow);
		background-color: @color-light;
		color: @color-text;
	}

	#begin-area &{
		margin-top: 50px;
		padding:0;

		p{
			font-size: 40px;
			line-height: 40px;
			margin: 0;
			padding: 50px;
			vertical-align: middle;
		}

		small{
			display:block;
			margin-top: 50px;
			margin-bottom: 10px;
		}

		// Tablets, small desktops, & smaller
		@media (max-width: 979px) {
			& {
				p {
					padding: 20px 10px;
					font-size: 30px;
					line-height: 30px;
				}

				small {
					margin-top: 20px;
				}
			}
		}
	}
}

#output{
	margin-bottom: 20px;
}