#drop-area{
	font-size: 25px;
	line-height: 30px;
	
	.transition(all 0.4s);

	p{
		text-align: center;
		vertical-align: middle;
		margin:0;
	}

	&.over{
		background-color: @linkColor;
		color: @white;
	}
}

#begin,
#error-display{
	margin-top:20px;
}