.slides-container{
	padding-top:20px;
}

.slide-content{
	background: @grayLighter;
}

.slide-lyrics{
	background-color: @white;
	border: 1px solid #DDD;
	.border-radius(@baseBorderRadius);
	font-size: 13px;
	line-height: 15px;
	margin:0;
	padding: 3px;
	white-space: pre-wrap; //Keeps the line breaks
}

.slide-label{
	padding-left:3px;
	margin: 3px 0 0 0;
}