
<header id="header">
  <h1 id="title">Lyric <span id="title-secondary">Converter</span></h1>
  <nav id="main-nav" class="container">
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Convert</a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/about">About</a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/help">Help</a>
  </nav>
</header>

<main id="main" class="container">
  <router-outlet></router-outlet>
</main>
