@import "../variables";

#header {
  border-top: $header-border-size solid $color-highlight;
  color: #fff;
  background-image: url("../assets/header-1.jpg"); //default image, will be replaced later by JS
  background-repeat: no-repeat;
  background-position: 50% -20px;
  height: $header-height + $header-border-size;
  padding: $header-padding;
  margin-bottom: $header-bottom-margin;

  //Keep the header fluid width when below the max size
  // @media (max-width: 1200px) {
  //   & {
  //     width: auto;
  //   }
  // }
}

#title {
  text-shadow: 2px 2px 2px #000;
  font-size: 110px;
  letter-spacing: 10px;
  line-height: 70px;
  margin: 20px 0 10px 0;

  &-secondary {
    display: block;
    font-size: 60px;
    letter-spacing: 5px;
    padding-left: 125px;
  }
}

//Phones only - make the title fit properly
// @media (max-width: $screen-sm-min) {
//   #title {
//     font-size: 80px;
//     line-height: 60px;

//     &-secondary {
//       font-size: 40px;
//       padding-left: 0;
//     }
//   }
// }

#main-nav {
  $header-nav-height: $header-nav-font-size + $header-border-size;

  height: $header-nav-height;
  position: absolute;
  top: $header-height - $header-nav-height + $header-border-size - 3; //Compensate for the border on the body tag & the font size

  a {
    border-bottom: $header-border-size solid transparent;
    color: $color-light;
    font-size: $header-nav-font-size;
    margin-right: 10px;
    padding: 0 10px;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      text-decoration: none;
      border-bottom-color: $color-highlight;
    }
  }

  .active {
    border-bottom-color: $color-highlight;
  }
}
