@import "../../variables";

//View Encapsulation is DISABLED for this component so that styles from
// the body tag applied via the dragAndDropFiles directive can be edited here

#drop-area {
  //Take up the entire size of the screen
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;

  //Setup flex container so the message can be centered
  display: flex;
  justify-content: center;
  align-items: center;

  //Allow clicks to pass through since this covered the entre document
  pointer-events: none;

  //Style
  background: rgba(0, 0, 0, 0.6);

  //Setup to allow fade in when
  opacity: 0;
  transition: opacity 300ms;

  body.drag-over & {
    // This class is added to the body by the dragAndDropFiles directive
    opacity: 1;
  }

  &-message {
    font-size: $font-size-lg;
    font-weight: bold;
    box-shadow: 0 0 50px $color-highlight, inset 0 0 5px $color-highlight;
    background-color: $color-light;

    border: 1px solid $color-highlight;
    border-radius: $border-radius;
    color: $color-dark;
    padding: $spacer;
  }
}

.drop-instructions {
  background-color: $color-medium;
  border: 1px solid $color-highlight;
  border-radius: $border-radius;
  color: $color-dark;
  text-align: center;
  padding: $spacer;
  margin-bottom: $spacer;
}

#primary-instructions,
#secondary-instructions {
  margin: 0;
  padding: 20px;
  vertical-align: middle;
}

#primary-instructions {
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 10px;
}

#secondary-instructions {
  padding-top: 0;
}

#accepted-input-formats {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

@include media-breakpoint-up(lg) {
  #primary-instructions,
  #secondary-instructions {
    padding: 50px;
  }

  #primary-instructions {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 10px;
  }

  #secondary-instructions {
    padding-top: 0;
  }

  #accepted-input-formats {
    margin-top: 50px;
  }
}

//The list menu of types we can convert to
#convert-types {
  &-title {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: $color-medium;
  }

  .list-group-item {
    cursor: pointer;
  }

  .badge {
    background-color: $color-light;
    color: $color-dark;
  }

  .active .badge {
    background-color: $color-background;
  }
}
