<div
  id="drop-area"
  class="pointer-events-none fixed top-0 left-0 right-0 bottom-0 z-50 flex items-center justify-center backdrop-blur-sm bg-slate-600/50"
  appDragAndDropFiles
  (fileDrop)="onReceiveFiles($event)"
>
  <div
    class="bg-slate-50/90 text-slate-800 rounded-xl shadow-lg text-3xl font-bold p-8 border-2 border-slate-600 flex items-center"
  >
    <svg class="icon mr-2" role="img">
      <use xlink:href="#files" />
    </svg>
    <span>Drop Your Song Files Here</span>
  </div>
</div>

<input class="hidden" type="file" multiple (change)="onFileSelect($event)" #fileInput />

<div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
  <div [ngClass]="{ 'sm:col-span-2 md:col-span-1': !displayInitialUi }">
    <!-- wrapping div needed to make sticky work inside a grid layout -->
    <aside
      class="sticky md:top-4"
      [ngClass]="{
        'sm:grid sm:grid-cols-2 sm:gap-4 md:block md:grid-cols-none': !displayInitialUi
      }"
    >
      <nav class="card p-0 grid grid-cols-1 overflow-hidden" id="test-convert-types-nav">
        <strong class="card-title text-center py-2"> Convert To </strong>
        <a
          *ngFor="let fmt of outputTypesForMenu"
          (click)="onSwitchConversionType(fmt, $event)"
          [ngClass]="{
            'font-bold bg-lc-highlight/10 border-l-2 border-l-lc-highlight':
              selectedOutputType === fmt
          }"
          class="flex justify-between items-center p-2 text-white border-b border-b-lc-highlight/10 hover:no-underline hover:bg-lc-highlight/20"
          href="#"
        >
          {{ fmt.name }}
          <span
            class="bg-lc-highlight text-white px-1 rounded text-xs font-mono"
            *ngIf="fmt.fileExt"
            >.{{ fmt.fileExt }}</span
          >
        </a>
      </nav>

      <div
        id="test-drop-instructions-more"
        class="card mt-4 sm:mt-0 md:mt-4"
        *ngIf="!displayInitialUi"
      >
        <div class="card-content">
          You can drag more songs into this window to convert them, or
          <a href="#" (click)="onSelectFilesClick($event)">select some more files</a>
        </div>
      </div>
    </aside>
  </div>

  <div id="begin-area" class="card md:col-span-3" *ngIf="displayInitialUi">
    <div class="card-content text-center flex flex-col items-center justify-center">
      <p class="mb-4 mt-auto">Choose what file type you want to convert to, then&hellip;</p>
      <h2 class="text-3xl">Drag your <strong>Song Files</strong> into this window</h2>
      <p>or, <a href="#" (click)="onSelectFilesClick($event)">select some files</a></p>

      <!-- Weirdness below is to preserve how whitespace is rendered -->
      <small id="test-accepted-input-formats" class="mt-auto"
        ><strong>Accepted Formats: </strong
        ><span *ngFor="let inputType of inputTypesList; let i = index"
          >{{ i === inputTypesList.length - 1 ? "or " : "" }}{{ inputType.name
          }}{{ i < inputTypesList.length - 1 ? ", " : "" }}</span
        ></small
      >
    </div>
  </div>

  <div id="display-area" class="sm:col-span-2 md:col-span-3" *ngIf="!displayInitialUi">
    <hr class="mb-4 md:hidden" />

    <div
      id="test-donate"
      class="card bg-blue-100/70 text-blue-900 border-blue-800/80 mb-4"
      role="alert"
      *ngIf="convertedFileCount >= convertedCountMessageThreshold"
    >
      <div class="card-content">
        <div class="flex items-center mb-2">
          <svg class="icon icon-lg me-2" role="img" aria-label="Info:">
            <use xlink:href="#info-fill" />
          </svg>
          <h4 class="text-lg">
            Wow, you've converted a total of
            <strong>{{ convertedFileCount }} songs</strong> with LyricConverter!
          </h4>
        </div>
        <p class="mb-2">
          I've spent a lot of time working on this and I would really appreciate a small donation if
          you've found this tool to be useful.
        </p>

        <app-donate-button></app-donate-button>
      </div>
    </div>

    <div
      id="test-error-message-display"
      class="card bg-red-200/80 text-red-700 border-red-700/80 mb-4"
      role="alert"
      *ngIf="errorsList.length > 0"
    >
      <div class="card-content">
        <h4 class="flex items-center text-xl font-bold mb-2">
          <svg class="icon icon-lg mr-2" role="img" aria-label="Alert:">
            <use xlink:href="#exclamation-triangle-fill" />
          </svg>
          File Conversion Errors
        </h4>
        <ul>
          <li *ngFor="let err of errorsList">
            <span *ngIf="err.fileName"
              ><strong>{{ err.fileName }}</strong> -
            </span>
            {{ err.message }}
          </li>
        </ul>
      </div>
    </div>

    <app-slide-display
      *ngIf="selectedOutputType.name === 'Display Slides'"
      [outputFileList]="convertedSongsForOutput"
    ></app-slide-display>
    <app-download-display
      *ngIf="selectedOutputType.name !== 'Display Slides'"
      [outputFileList]="convertedSongsForOutput"
    ></app-download-display>
  </div>
</div>
