@import "../../variables";

.drop-area {
  background-color: $color-medium;
  border: 1px solid $color-highlight;
  border-radius: $border-radius;
  color: $color-dark;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 0.4s;

  &.drag-over {
    box-shadow: 0 0 50px $color-highlight, inset 0 0 10px $color-highlight;
    background-color: $color-light;
    color: $color-text;
  }
}

#begin-area .drop-area {
  p {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    padding: 50px;
    vertical-align: middle;
  }

  small {
    display: block;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

#convert-types {
  &-title {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: $color-medium;
  }

  .list-group-item{
    cursor: pointer;
  }

  .badge {
    background-color: $color-light;
    color: $color-dark;
  }

  .active .badge {
    background-color: $color-background;
  }
}
