<div id="drop-area" appDragAndDropFiles (fileDrop)="onReceiveFiles($event)">
  <div id="drop-area-message">Drop Your Song Files Here</div>
</div>

<input class="hidden" type="file" multiple (change)="onFileSelect($event)" #fileInput />

<div class="flex flex-row space-x-4">
  <div class="basis-1/4">
    <aside id="sidebar">
      <nav class="content-card p-0 grid grid-cols-1 divide-y" id="convert-types">
        <strong id="convert-types-title" class="list-group-item text-center"> Convert To </strong>
        <a
          *ngFor="let fmt of outputTypesForMenu"
          (click)="onSwitchConversionType(fmt, $event)"
          [ngClass]="{ active: selectedOutputType === fmt }"
          href="#"
          class="flex justify-between items-center py-2 px-4"
        >
          {{ fmt.name }}
          <span class="bg-lc-highlight text-white p-1 rounded text-xs font-mono" *ngIf="fmt.fileExt">.{{ fmt.fileExt }}</span>
        </a>
      </nav>

      <div
        id="test-drop-instructions-more1"
        class="drop-instructions mt-3 hidden md:visible"
        *ngIf="!displayInitialUi"
      >
        You can drag more songs into this window to convert them, or
        <a href="#" (click)="onSelectFilesClick($event)">select some more files</a>
      </div>
    </aside>

    <div id="test-drop-instructions-more2" class="md:hidden" *ngIf="!displayInitialUi">
      <div class="drop-instructions">
        You can drag more songs into this window to convert them, or
        <a href="#" (click)="onSelectFilesClick($event)">select some more files</a>
      </div>
    </div>
  </div>

  <div
    id="begin-area"
    class="basis-3/4 content-card"
    *ngIf="displayInitialUi"
  >
    <div class="drop-instructions">
      <p id="primary-instructions">Drag your <strong>Song Files</strong> into this window</p>

      <p id="secondary-instructions">
        or, <a href="#" (click)="onSelectFilesClick($event)">select some files</a>
      </p>

      <!-- Weirdness below is to preserve how whitespace is rendered -->
      <small id="accepted-input-formats"
        >(<span *ngFor="let inputType of inputTypesList; let i = index"
          >{{ i === inputTypesList.length - 1 ? "or " : "" }}{{ inputType.name
          }}{{ i < inputTypesList.length - 1 ? ", " : "" }}</span
        >)</small
      >
    </div>
  </div>

  <div id="display-area" class="basis-3/4" *ngIf="!displayInitialUi">
    <hr class="d-block md:hidden" />

    <div
      id="test-donate"
      class="content-card"
      role="alert"
      *ngIf="convertedFileCount >= convertedCountMessageThreshold"
    >
      <div class="flex items-center mb-1">
        <svg class="icon icon-lg me-2" role="img" aria-label="Info:">
          <use xlink:href="#info-fill" />
        </svg>
        <p>
          Wow, you've converted a total of
          <strong>{{ convertedFileCount }} songs</strong> with LyricConverter!
        </p>
      </div>
      <p>
        I've spent a lot of time working on this and I would really appreciate a small donation if
        you've found this tool to be useful.
      </p>

      <app-donate-button></app-donate-button>
    </div>

    <div
      id="test-error-message-display"
      class="content-card bg-red-300 text-red-700"
      role="alert"
      *ngIf="errorsList.length > 0"
    >
      <h4 class="flex items-center">
        <svg class="icon icon-lg mr-2" role="img" aria-label="Alert:">
          <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        File Conversion Errors
      </h4>
      <ul>
        <li *ngFor="let err of errorsList">
          <span *ngIf="err.fileName"
            ><strong>{{ err.fileName }}</strong> -
          </span>
          {{ err.message }}
        </li>
      </ul>
    </div>

    <app-slide-display
      class="content-card"
      *ngIf="selectedOutputType.name === 'Display Slides'"
      [outputFileList]="convertedSongsForOutput"
    ></app-slide-display>
    <app-download-display
      class="content-card"
      *ngIf="selectedOutputType.name !== 'Display Slides'"
      [outputFileList]="convertedSongsForOutput"
    ></app-download-display>
  </div>
</div>
