<form action="https://www.paypal.com/donate" method="post" target="_blank">
  <input type="hidden" name="business" value="RWE3JEMR9ST5Q" />
  <input type="hidden" name="no_recurring" value="0" />
  <input type="hidden" name="item_name" value="Thanks for supporting Lyric Converter! (https://lyricconverter.net)"/>
  <input type="hidden" name="currency_code" value="USD" />
  <button type="submit" class="btn btn-lg btn-success">
    <svg class="icon" role="img" aria-label="Piggy Bank:">
      <use xlink:href="#piggy-bank-fill" />
    </svg>
    Donate!
  </button>
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>
