@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply hover:underline text-lc-highlight;
  }
}

@layer components {
  .content-card {
    @apply rounded-lg p-4 bg-slate-900/40 backdrop-blur-lg border border-lc-highlight/10;
  }

  .btn {
    @apply font-bold py-2 px-4 rounded shadow inline-flex items-center hover:no-underline;
  }

  .btn-primary {
    @apply text-white bg-blue-600 hover:bg-blue-700;
  }

  .btn-secondary {
    @apply bg-slate-300 hover:bg-slate-400 text-slate-800;
  }

  .btn-success {
    @apply text-white bg-green-600 hover:bg-green-700;
  }

  .btn-small {
    @apply py-1 px-2 text-sm;
  }

  .icon {
    /* Bootstrap SVG icons
    Defaults to match text size and color */
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
  }

  .icon-lg {
    /* fixed larger size when this class is added */
    width: 32px;
    height: 32px;
  }

  .btn .icon {
    @apply mr-1;
  }
}
