/* table {
  width: 100%;
  margin-bottom: $spacer;
  border-color: $color-light;
}

thead,
tbody,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

td,
th {
  padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
  border-bottom-width: $table-border-width;
}

thead th {
  border-bottom-color: $color-dark;
}

caption {
  color: $color-dark;
  font-size: $font-size-sm;
} */
