//Custom Colors

@color-background: #f0eddb;
@color-light: #ccc9ba;
@color-medium: #e3e0cf;
@color-dark: #807e74;
@color-text: #1d1d1d;
@color-highlight: #3ea8b2;

//Override Bootstrap defaults
@body-bg:        			@color-background;
@text-color:             	@color-text;
@link-color:             	@color-highlight;
@link-hover-color:        	darken(@link-color, 15%);
@font-family-sans-serif:    'Helvetica Neue', Helvetica, Arial, sans-serif;

//List Group Color Overrides
@list-group-bg: 			@color-background;
@list-group-link-color: 	@color-dark;
@list-group-hover-bg: 		@color-medium;
@list-group-active-color:   @color-background;
@list-group-active-bg:      @color-highlight;

//Badge overrides
@badge-bg: @color-light;
@badge-color: @color-dark;
@badge-active-bg: @color-background;