@font-face {
  font-family: 'WalkwaySemiBoldRegular';
  src: url('fonts/Walkway_SemiBold-webfont.eot');
  src: url('fonts/Walkway_SemiBold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Walkway_SemiBold-webfont.woff') format('woff'), url('fonts/Walkway_SemiBold-webfont.ttf') format('truetype'), url('fonts/Walkway_SemiBold-webfont.svg#WalkwaySemiBoldRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WalkwayBlackRegular';
  src: url('fonts/Walkway_Black-webfont.eot');
  src: url('fonts/Walkway_Black-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Walkway_Black-webfont.woff') format('woff'), url('fonts/Walkway_Black-webfont.ttf') format('truetype'), url('fonts/Walkway_Black-webfont.svg#WalkwayBlackRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'WalkwayBlackRegular', 'WalkwaySemiBoldRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  border-top: 5px solid #3ea8b2;
}
#header {
  box-sizing: border-box;
  color: #ffffff;
  background-image: url('img/header-1.jpg');
  background-repeat: no-repeat;
  background-position: 50% -20px;
  height: 250px;
  padding: 11px 19px;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  #header {
    width: auto;
  }
}
#title {
  text-shadow: 2px 2px 2px #000;
  font-size: 110px;
  letter-spacing: 10px;
  line-height: 70px;
}
#title-secondary {
  display: block;
  font-size: 60px;
  letter-spacing: 5px;
  padding-left: 125px;
}
@media (max-width: 767px) {
  #title {
    font-size: 80px;
    line-height: 60px;
  }
  #title-secondary {
    font-size: 40px;
    padding-left: 0;
  }
}
#main-nav {
  height: 25px;
  position: absolute;
  top: 230px;
}
#main-nav a {
  border-bottom: 5px solid transparent;
  color: #ccc9ba;
  font-size: 20px;
  margin-right: 10px;
  padding: 0 10px;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#main-nav a:hover {
  text-decoration: none;
  border-bottom-color: #3ea8b2;
}
#main-nav .nav-current {
  border-bottom-color: #3ea8b2;
}
html {
  min-height: 100%;
}
.drop-area {
  background-color: #e3e0cf;
  border: 1px solid #3ea8b2;
  border-radius: 10px;
  color: #807e74;
  text-align: center;
  padding: 10px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.over .drop-area {
  -webkit-box-shadow: 0 0 50px #3ea8b2, inset 0 0 10px #3ea8b2;
  box-shadow: 0 0 50px #3ea8b2, inset 0 0 10px #3ea8b2;
  background-color: #ccc9ba;
  color: #1d1d1d;
}
#begin-area .drop-area {
  margin-top: 50px;
  padding: 0;
}
#begin-area .drop-area p {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  padding: 50px;
  vertical-align: middle;
}
#begin-area .drop-area small {
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
}
@media (max-width: 979px) {
  #begin-area .drop-area p {
    padding: 20px 10px;
    font-size: 30px;
    line-height: 30px;
  }
  #begin-area .drop-area small {
    margin-top: 20px;
  }
}
#output {
  margin-bottom: 20px;
}
#affix-contents.affix {
  top: 20px;
  width: 220px;
}
@media (max-width: 767px) {
  #affix-contents.affix {
    top: auto;
    position: relative;
    width: auto;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  #affix-contents.affix {
    width: 166px;
  }
}
@media (min-width: 1200px) {
  #affix-contents.affix {
    width: 270px;
  }
}
#drop-area-more {
  margin-top: 20px;
}
.nav-sidebar {
  border-radius: 10px;
  border: 1px solid #ccc9ba;
}
.nav-sidebar a {
  border-bottom: 1px solid #ccc9ba;
  border-left: 5px solid transparent;
  color: #807e74;
  display: block;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media (max-width: 979px) and (min-width: 768px) {
  .nav-sidebar a {
    font-size: 16px;
  }
}
.nav-sidebar a strong {
  display: block;
}
.nav-sidebar a:hover {
  text-decoration: none;
  background-color: #e3e0cf;
}
.nav-sidebar a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nav-sidebar a:last-child {
  border-bottom-width: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav-sidebar .nav-current {
  border-left-color: #3ea8b2;
  background-color: #e3e0cf;
}
[class*="nav-icon-"] {
  background-image: url('img/icons.png');
  background-repeat: no-repeat;
  float: left;
  margin-right: 5px;
  vertical-align: middle;
  width: 34px;
  height: 34px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  [class*="nav-icon-"] {
    background-image: url('img/icons@2x.png');
    background-size: 34px 102px;
  }
}
.nav-icon-pro {
  background-position: 0 0;
}
.nav-icon-txt {
  background-position: 0 -34px;
}
.nav-icon-slides {
  background-position: 0 -68px;
}
.slides-container {
  padding-top: 20px;
}
.slide-content {
  background: #eeeeee;
}
.slide-lyrics {
  background-color: #ffffff;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 15px;
  margin: 0;
  padding: 3px;
  white-space: pre-wrap;
}
.slide-label {
  padding-left: 3px;
  margin: 3px 0 0 0;
}
